@font-face {
  font-family: Rumble Brave;
  src: url(RanilleNormalRegular-axEpm.otf);
}
@font-face {
  font-family: Hussar;
  src: url(hussar-font/HussarBold.otf);
}
@font-face {
  font-family: Lemon;
  src: url(LemonMilkMedium-mLZYV.otf);
}
body {
  background-color: white;
}
#navList .nav-item a {
  font-family: Hussar;
  font-size: 13px;
}

#fbIcon:hover {
  color: #1778F2;
}
.card-title {
  font-family: Hussar;
}
.fa-instagram:hover {
  color: #e6683c; 
}

#jumbotronMain {
  background-image: url(/images/coffeeShop2.jpg);
  background-size: cover;
  height: 650px;
}

#goOrderAhead:hover {
  transition: ease-in-out;
}

