@font-face {
  font-family: Rumble Brave;
  src: url(Rumble\ Brave.otf);
}

body {
  background-color: white;
}

#goHome:hover {
  font-size:large;
  transition:50ms;
}#goOrderAhead:hover {
  font-style: italic;
}#goOrderAhead:hover {
  font-style: italic;
}
#goOrderAhead:hover {
  font-style: italic;
}
